*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.temp{
  width: 33.333%;
  border: 10px solid transparent;
  display:inline-block;

}

.temp .image{
  width: 100%;
  height: 500px;
  border: 1px solid black;
}