*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.temp{
  width: 33.333%;
  border: 10px solid transparent;
  display:inline-block;

}
.App h2{
  text-align:center;
}
.temp .image{
  width: 100%;
  height: 500px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
}

.meme{
  text-align: center;
}
.meme img{
  width: auto;
  height: 500px;
}
.meme input{
  margin: 10px;
  padding: 5px;
}
.meme button{
  padding:5px;
  margin: 10px;
}
.but{
  width: 90px;
  height:40px;
  margin: 5px;
  background-color: rgb(248, 90, 122);
  border-radius: 5px;
}
.contain{
  text-align: center;
 height: 1000px;
  background-color: rgb(248, 186, 227);
}
.text{
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.canvas1{
  width: 90%;
  padding : 10px 20px;  
  background-color: rgb(248, 207, 241);
  border-radius: 5cm;
  margin: auto;
}
.images{
  background-color: rgb(252, 245, 251);
  padding-top: 30px;
 
  padding-bottom: 30px;
  border-radius: 5cm;
  padding-left: 30px;
}

.image1{
  width:200.5px;
  height:200.5px;
   margin: 20px;
   width: 20%;
   
/* padding : 10px 20px;  */
  display: inline-block;
  border-radius: 20px;
  border: 5px solid rgb(245, 244, 183);
  position:auto;
  background-size: cover;
  background-position: center;
}
.but1{
 position: relative;
 border:1px solid  rgb(224, 31, 31);
 border-radius: 5cm;
 background-color: rgb(250, 23, 182);
 text-decoration: none;
 padding: 5px;
 color: rgb(252, 252, 247);
 font-family: 'Dancing Script', cursive;
 font-size: 015px;
 border-radius: 10px;

}

