*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App{
  min-height: 100vh;
  width:100vw;
  display:flex;
  border: 10px solid black;
}

.card{
  border: 1px solid grey;
  width:200px;
  padding : 10px 20px;
  display:inline-block;
  margin:auto;
}
.card img{
    width:100%
}
.card1{
  background-color: black;

}
.card2{
  background-color: blanchedalmond;
}
.card1, .card2{
 
  width:50px;
  padding : 10px 20px;
  display:inline-block;
  margin:auto;
}