
body{
  background-image:url("https://media1.giphy.com/media/pVGsAWjzvXcZW4ZBTE/giphy.gif?cid=ecf05e4779qg96ih28thgsz8x0po2hhn2yr53ymx6ll2qkae&rid=giphy.gif&ct=g"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-origin: content-box;
}
.gamecontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -200px;
    margin-left: -250px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 30%);
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr ;
    justify-content: center;
    display: flexbox;
  }
  .container{
      text-align: center;
      font-family: 'Akaya Kanadaka', cursive;
      font-weight: 300;
      color: blanchedalmond;
  }
    .card {
      position:relative;
      width:110px;
      padding: 0px 0px;
      border-style: double;
      height:110px; 
      transform-style: preserve-3d;
      transition: transform 0.3s;
      cursor: pointer;
      border-style: double 2px rgb(163, 41, 41);
      background-color: transparent;
      /* background-color: blue; */
      border-radius: 15px;
      padding-left: 5px;
      padding-top: 5px;
      
    }
    .card:active {
        transform: scale(0.95);
        transition: transform 0.1s ease-in-out;
      }
      
    .card.flip {
        transform: rotateY(180deg);
        cursor: pointer;
      }
.front
{
  background-color: #807f7f;
  width: 90%;
  height: 90%;
  position: absolute;
 backface-visibility: hidden; 

}
.back{
    background-color: #807f7f;
    width: 90%;
    height: 90%;
    position: absolute;
    backface-visibility: hidden; 
  
}
.front {
  transform: rotateY(180deg);
  
}