*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
.form1{
    margin-top: 25px;
}
.container{
    border: 1px solid black;
    height:600px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(9, 10, 10); 
    box-shadow: 10px 10px 10px rgb(56, 54, 54);
    
}
.App{
    width:  100%;
    font-family: 'Indie Flower', cursive;
    
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    
    text-align: center;
  
}
input{
    height: 30px;
    width: 200px;
}
.card1{
    padding-bottom: 10px;
    padding-top: 5px;
    
}
.cards{
    text-align: center;
    width:500px;
    margin:auto;
    overflow-x: hidden;
    overflow-y: auto;
    display:block;  
    background-color: rgb(245, 247, 250);
    margin-top: 40px;
    
    height: 400px;
    /* border:1px solid black; */
}
button{
    width: 80px;
   margin-left: 10px;
   margin-top: 20px;
   height: 30px;
}
.App .card{
    width:400px;
    margin:auto;
    height:150px;
    border:2px solid black;
    border-radius: 8px;
    color: cornsilk;
    font-family: 'Indie Flower', cursive;
    box-shadow: 5px 5px 8px rgb(56, 54, 54);
    background-color:rgb(107, 2, 2) ;
}
.empty{
    width:500px;
    height: 300px;
    margin:auto;
    background-color:white;
}
.image1{
    width:500px;
    height: 250px;
}
.image1 img{
    width: 100%;
    /* height:80%; */ 
  
   
  
    background-size: auto;
    
}