*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App{
  min-height: 100vh;
  width:100vw;
  display:flex;
 
}
.card{
  border: 1px solid grey;
  width:200.5px;
  height:200.5px;
  padding : 10px 20px; 
  display:inline-block;  
   margin:auto;

}

.card1,.card2{
  border: 1px solid grey;
  width:22.5px;
  height:22.5px;
 
 
}
.card img{
    width:100%
}

.chess{
  border: 10px solid black;
  width: 200px;
  height:200px;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
  grid-template-rows:  0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
 
  margin:auto;
}
.card1:nth-child(odd) {
  background:black;
}
.card2:nth-child(even) {
  background:black;
}
.cardsc{
  border: 1px solid grey;
  width:100%;
  height:80px;
  background-color: rgb(177, 255, 103);
  box-shadow: burlywood;
  margin:auto;
  
}
.but{
  margin:auto;

}

div.container {
  margin:4px 4px;
  padding:4px;
  background-color: rgb(100, 248, 100);
  overflow-x: hidden;
  overflow-y: auto;
  display:block;  
  width:300px;
  height:300px;
  padding : 10px 20px; 
  display:inline-block;  
   margin:auto;
  text-align:justify;
}
.des{
  font-size: 13px;
}