body{
    /* text-align: center; */
    background-color: cadetblue;
    
}
.para{
    width: 600px;
    color:cornsilk;
    font-size: 50px;
}
.clock{
    width: 400px;
    height: 400px;
    background: brown;
    display:inline-block;
    border-radius:50%;
    border:10px solid greenyellow;
    border-width: 50px;
    padding :20px;
}
.sec{
    height:200px;
    width:3px;
    left:204px;
    bottom:4px;
    background: cornsilk;
    z-index: 3;
    position :relative;
    line-height: 45px;
    transform-origin:bottom;
    animation:sec_anim 1s linear infinite;
}
.min{
    height:150px;
    width:12px;
    left:204px;
    background:cyan;
    z-index: 2;
    top:-150px;
    line-height: 45px;
    position : relative;
    transform-origin: bottom;
    animation:sec_anim 10s linear infinite;
}

.hours{
    height:120px;
    width:22px;
    left:203px;
    background:gold;
    z-index: 1;
    top:-270px;
    line-height: 15px;
    position : relative;
    transform-origin: bottom;
    animation:sec_anim 100s linear infinite;
}

@keyframes sec_anim {

    from{transform:rotateZ(0deg);}
    to{transform: rotate(360deg);}

}
